@model IEnumerable<MaquetaTienda.Models.Producto>

@{
    ViewBag.Title = "Lista de productos";
}

<h2>Lista de productos</h2>


    <div class="container">
        <div class="row" style="margin-bottom: 10px;">

            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <a href="@Url.Action("Create", "Productos")" class="btn btn-primary col-4" style="position: absolute; z-index: 999; margin-top: 15px;">
                    Crear Nuevo Producto
                </a>
            }

            <div style="margin-left: 90%;">
                <a href="@Url.Action("Index", "Carrito")" class="btn col-4" title="Ir al carrito de la compra">
                    <img src="~/Content/images/carro.png" width="35px" />
                </a>
            </div>

        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string style = item.Cantidad == 0 ?
                "background-color: #fe000054;"
                :
                item.Cantidad < 5 ? "background-color: #fefd0054;" : null;

            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                    @if (item.Cantidad == 0)
                    {
                        <img src="~/Content/images/info.png" width="20px" title="Producto agotado" style="margin-left: 5px;" />
                    }
                    else if(item.Cantidad < 5)
                    {
                        <img src="~/Content/images/info.png" width="20px" title="Esta a punto de agotarse" style="margin-left: 5px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio) €
                </td>
                 <td>
                    <img src=@Html.DisplayFor(modelItem => item.Img) width="50px" style="margin-left: 5px;" />
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a href="@Url.Action("Edit", "Productos", new { id = item.Id })" title="Editar Producto">
                            <img src="~/Content/images/edit.png" height="25px" />
                        </a>
                        <span style="margin-left: 5px; margin-right:5px;">|</span>
                        <a href="@Url.Action("Details", "Productos", new { id = item.Id })" title="Visualizar Producto">
                            <img src="~/Content/images/details.png" height="25px" />
                        </a>
                        <span style="margin-left: 5px; margin-right:5px;">|</span>
                        <a href="@Url.Action("Delete", "Productos", new { id = item.Id })" title="Borrar Producto">
                            <img src="~/Content/images/trash.png" height="25px" />
                        </a>
                    }

                    @if (item.Cantidad > 0)
                    {
                        <span style="margin-left: 5px; margin-right:5px;">|</span>
                        <a href="@Url.Action("AddCart", "Productos", new { id = item.Id })" title="Añadir al carrito">
                            <img src="~/Content/images/add-cart.png" height="25px" />
                        </a>
                    }
                </td>
            </tr>
        }

    </table>
