@model IEnumerable<MaquetaTienda.Models.PedidoDto>

@{
    ViewBag.Title = "Carro de la compra";
}

<h2>Carro de la compra</h2>

<div class="row" style="margin-bottom: 10px;">

    <div style="margin-left: 90%;">
        <a href="@Url.Action("SavePedido", "Carrito")" class="btn btn-primary col-4" title="Guardar Pedido en Base de Datos">
            Completar Pedido
        </a>
    </div>

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </th>
        <th>
            Precio por unidad
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            Precio
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Precio) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @(item.Producto.Precio * item.Cantidad) €
            </td>
            <td>
                <a href="@Url.Action("Delete", "Carrito", new { id = item.Id })" title="Delete from pedidos">
                    <img src="~/Content/images/trash.png" width="20px" />
                </a>
            </td>
        </tr>
    }
</table>

<h3 style="margin-left: 80%;">
    Total:
    @{
        double total = 0;

        foreach (var item in Model)
        {
            total = total + (item.Producto.Precio * item.Cantidad);
        }

        <span>@(total) €</span>
    }
</h3>